.header_search {
    margin-top: 2px;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
}
.header_search input {
    width: 247px;
    height: 34px;
    padding: 2px 30px;
    font-size: 15px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid rgba(214,214,214,.61);
    color: #555459;
    vertical-align: middle;
    -webkit-transition: width .15s ease-out 0s;
    -moz-transition: width .15s ease-out 0s;
    -o-transition: width .15s ease-out 0s;
    transition: width .15s ease-out 0s;
}

.header_search input:focus {
    width: 324px;
}

.header_search i {
    position: absolute;
    left: 8px;
    top: 25%
}

.direct-chat-img.icon {
    background: #f39c12;
    overflow: hidden;
}

.icon span {
    font-weight: 900;
    color: #fff;
    line-height: 38px;
    text-shadow: 1px 1px 0 #d5d5d5, 2px 2px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: 30px;
    margin-left: 15px;
}

.direct-chat-messages {
    height: auto !important;
    margin: 45px 0 30px;
}

.direct-chat .box-header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 10;
}

.direct-chat .box-footer {
    position: fixed;
    bottom: 0;
}

.direct-chat-name {
    float: left;
}

.direct-chat-timestamp {
    float: right;
}

.direct-chat-msg.right .direct-chat-name {
    float: right !important;
}

.direct-chat-msg.right .direct-chat-timestamp {
    float: left !important;
}